.button{
    padding: 3px 12px;
    border: 1px solid;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    user-select: none;
    border-radius: 100px;
    cursor: pointer;
}


.button-type-primary{
    background: var(--primary);
    border-color: var(--primary);
    color: var(--primary-text);
}

.button-type-primary:hover{
    background: var(--primary-hover);
    border-color: var(--primary-hover);
}


.button-type-accent{
    background: var(--accent);
    border-color: var(--accent);
}


.button-type-accent:hover{
    background: var(--accent-hover);
    border-color: var(--accent-hover);
}